body {
background-color: #AB6565;
background-image: url("https://cdn.wallpapersafari.com/26/71/qaBrIC.jpg");
}
h1
{
font: bold 50px arial, sans-serif ;
}
h2
{
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption, hgroup,{
display: block;
}
body{
text-align: center;
}
#agrupar {
width: 960px ;
margin: 15px auto;
text-align: left;
border: 1px solid #000 ;
}
#arriba {
background: #17C6FA  ;
padding: 20px ;
text-align: center;
&#171;background-color: rgb(0,0,255); opacity: 0.10;&#187;
}
#menu {
background: #329B9B ;
padding: 6px 15px ;
text-align: center;
box-shadow: 4px 4px 8px 4px rgba(0,0,0,0,3);
}
#menu li {
display: inline-block;
list-style: none;
padding: 1px ;
font: bold 14px verdana, sans-serif ;
box-shadow: 4px 4px 8px 4px rgba(0,0,0,0,3);
}
#seccion {
float: left;
width: 660px ;
margin: 20px ;
margin: 20px ;
background-color: #0B6595 ;
box-shadow: 4px 4px 8px 4px rgba(0,0,0,0,3);
}
#columna {
float: left;
width: 220px ;
margin: 20px 0px;
padding: 20px;
background: #2DA5C9  ;
box-shadow: 4px 4px 8px 4px rgba(0,0,0,0,3);
}
#final {
clear: both;
text-align: center;
padding: 20px ;
background: #9FB5BB ;
box-shadow: 4px 4px 8px 4px rgba(0,0,0,0,3);
}
article {
background: #AB6565
padding: 20px ;
margin-bottom: 15px ;
box-shadow: 4px 4px 4px 4px rgba(0,0,0,0,3);
border: 1px solid #000 ;
}
article footer {
text-align: right;
}
time {
color: black ;
}
figcaption {
font: italic 14px verdana, sans-serif ;
}
